<table>
	<tr>
		<th>Наименование:</th>
		<td><%= form.text_field :name %></td>
	</tr>
	<tr>
		<th>Цена, руб</th>
		<td><%= form.text_field :price %></td>
	</tr>
	<tr>
		<th>Вес, кг</th>
		<td><%= form.text_field :weight %></td>
	</tr>
	<tr>
		<th>Описание</th>
		<td><%= form.text_field :description %></td>
	</tr>
</table>
