<h1>Изменение товара:</h1>
<%= form_for @item do |f| %>
<%= render partial: "form", locals: {form: f} %>
<% end %>
<p><%= link_to "Список товаров", items_path %></p>
<p><%= link_to "Вернуться к товару", @item %></p>

