<h1>Список товаров</h1>
<% if @items.empty? %>
<b>Не найдено товаров в магазине</b> 
<% else %>
<%= render partial: "items_list" %>
<% end %>
<p><%= link_to "Список товаров", items_path %></p>
<p><%= link_to "Список дорогих товаров", expensive_items_path %></p>
<% if @current_user_admin %>
<p><%= link_to "Добавить новый товар", new_item_path %></p>
<% end %>

