%h1 Добавление товара:
= simple_form_for @item, html: {class: 'form-horizontal' } do |f|
  = render partial: "form", locals: {form: f}
  %p= f.submit "Добавить товар"
%p= link_to "Список товаров", items_path
